h1 {
  color: blue;
  font-size: 2em;
  text-align: center;
}

body {
  background: black;
}

div {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background-color: blue;
}

p {
  color: white;
}
